[Desktop Entry]
Name=get_mem_dump
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/get_mem_dump
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/get_mem_dump' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Dos;