[Desktop Entry]
Name=svreport
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/svreport
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/svreport -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Automation;X-BlackArch-Exploitation;