[Desktop Entry]
Name=bdlogparser
Icon=utilities-terminal
Comment=This is a utility to parse a Bit Defender log file, in order to sort them into a malware archive for easier maintanence of your malware collection.
TryExec=/usr/bin/bdlogparser
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/bdlogparser' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Malware;