[Desktop Entry]
Name=pehash
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/pehash
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/pehash' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Forensic;X-BlackArch-Reversing;