[Desktop Entry]
Name=rip-git
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/rip-git
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/rip-git -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;