[Desktop Entry]
Name=rwrecgenerator
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/rwrecgenerator
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/rwrecgenerator --help' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;X-BlackArch-Scanner;
