[Desktop Entry]
Name=svcrash
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/svcrash
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/svcrash -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Automation;X-BlackArch-Exploitation;