[Desktop Entry]
Name=automater
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/automater
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/automater -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Forensic;