[Desktop Entry]
Name=flunym0us
Icon=utilities-terminal
Comment=A Vulnerability Scanner for Wordpress and Moodle.
TryExec=/usr/bin/flunym0us
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/flunym0us' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;X-BlackArch-Webapp;