[Desktop Entry]
Name=bundle
Icon=utilities-terminal
Comment=
TryExec=/usr/share/dradis/bin/bundle
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/share/dradis/bin/bundle -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Recon;X-BlackArch-Misc;
