[Desktop Entry]
Name=darkcgi.pl
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/darkcgi.pl
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/darkcgi.pl' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Webapp;