[Desktop Entry]
Name=rfidiot-isotype
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/rfidiot-isotype
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/rfidiot-isotype -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Wireless;