[Desktop Entry]
Name=fusil-vlc
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/fusil-vlc
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/fusil-vlc' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Fuzzer;