[Desktop Entry]
Name=pip3linecmd
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/pip3linecmd
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/pip3linecmd' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Crypto;