[Desktop Entry]
Name=dbxparse
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/dbxparse
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/dbxparse -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Forensic;