[Desktop Entry]
Name=raports
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/raports
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/raports -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;X-BlackArch-Defensive;X-BlackArch-Sniffer;
