[Desktop Entry]
Name=sqlcheck
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/sqlcheck
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/sqlcheck -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Database;