[Desktop Entry]
Name=wpscan
Icon=utilities-terminal
Comment=A vulnerability scanner which checks the security of WordPress installations using a black box approach.
TryExec=/usr/bin/wpscan
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/wpscan -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;X-BlackArch-Webapp;X-BlackArch-Fuzzer;