[Desktop Entry]
Name=jumbo6
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/jumbo6
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/jumbo6' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;