[Desktop Entry]
Name=hashcat-strip-bsn
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/hashcat-strip-bsn
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/hashcat-strip-bsn --help' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Cracker;
