[Desktop Entry]
Name=ifchk
Icon=utilities-terminal
Comment=A network interface promiscuous mode detection tool.
TryExec=/usr/bin/ifchk
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/ifchk -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Defensive;X-BlackArch-Networking;