[Desktop Entry]
Name=ycrawler
Icon=utilities-terminal
Comment=A web crawler that is useful for grabbing all user supplied input related to a given website and will save the output. It has proxy and log file support.
TryExec=/usr/bin/ycrawler
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/ycrawler -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Webapp;X-BlackArch-Scanner;X-BlackArch-Proxy;