[Desktop Entry]
Name=sdel
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/sdel
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/sdel -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Anti-Forensic;X-BlackArch-Defensive;