[Desktop Entry]
Name=flow6
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/flow6
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/flow6' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;