[Desktop Entry]
Name=affuse
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/affuse
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/affuse' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Forensic;