[Desktop Entry]
Name=keyfinder
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/keyfinder
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/keyfinder' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Cracker;