[Desktop Entry]
Name=pyrasite-shell
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/pyrasite-shell
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/pyrasite-shell' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Backdoor;