[Desktop Entry]
Name=nwpurge
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/nwpurge
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/nwpurge -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;