[Desktop Entry]
Name=statsgen
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/statsgen
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/statsgen -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Cracker;