[Desktop Entry]
Name=spike-generic-send_udp
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/spike-generic-send_udp
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/spike-generic-send_udp' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Fuzzer;