[Desktop Entry]
Name=nield
Icon=utilities-terminal
Comment=A tool to receive notifications from kernel through netlink socket, and generate logs related to interfaces, neighbor cache(ARP,NDP), IP address(IPv4,IPv6), routing, FIB rules, traffic control.
TryExec=/usr/bin/nield
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/nield -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;