[Desktop Entry]
Name=hashcat-cleanup-rules
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/hashcat-cleanup-rules
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/hashcat-cleanup-rules' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Cracker;
