[Desktop Entry]
Name=iax-scan-users
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/iax-scan-users
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/iax-scan-users -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;X-BlackArch-Cracker;