[Desktop Entry]
Name=rwfilter
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/rwfilter
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/rwfilter --help' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;X-BlackArch-Scanner;
