[Desktop Entry]
Name=listing
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/listing
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/listing' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Misc;