[Desktop Entry]
Name=pblind.py
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/pblind.py
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/pblind.py' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Webapp;X-BlackArch-Exploitation;