[Desktop Entry]
Name=cvechecker
Icon=utilities-terminal
Comment=The goal of cvechecker is to report about possible vulnerabilities on your system, by scanning the installed software and matching the results with the CVE database. 
TryExec=/usr/bin/cvechecker
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/cvechecker --usage' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;
