[Desktop Entry]
Name=ra6
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/ra6
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/ra6' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;