[Desktop Entry]
Name=fstealer
Icon=utilities-terminal
Comment=Automates file system mirroring through remote file disclosur vulnerabilities on Linux machines.
TryExec=/usr/bin/fstealer
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/fstealer -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Automation;X-BlackArch-Misc;