[Desktop Entry]
Name=sha1deep
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/sha1deep
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/sha1deep -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Forensic;