[Desktop Entry]
Name=zbconvert
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/zbconvert
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/zbconvert -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Exploitation;X-BlackArch-Wireless;
