[Desktop Entry]
Name=nwbpvalues
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/nwbpvalues
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/nwbpvalues -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;