[Desktop Entry]
Name=irpas-cdp
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/irpas-cdp
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/irpas-cdp' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Exploitation;