[Desktop Entry]
Name=nwdpvalues
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/nwdpvalues
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/nwdpvalues -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;