[Desktop Entry]
Name=ipmi-locate
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/ipmi-locate
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/ipmi-locate --help' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;X-BlackArch-Misc;
