[Desktop Entry]
Name=aeskeyfind
Icon=utilities-terminal
Comment=A tool to find AES key in RAM
TryExec=/usr/bin/aeskeyfind
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/aeskeyfind -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Forensic;X-BlackArch-Cracker;