[Desktop Entry]
Name=msfrpc
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/msfrpc
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/msfrpc -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Exploitation;X-BlackArch-Fuzzer;X-BlackArch-Scanner;X-BlackArch-Recon;X-BlackArch-Networking;