[Desktop Entry]
Name=smbgetserverinfo
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/smbgetserverinfo
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/smbgetserverinfo' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Cracker;