[Desktop Entry]
Name=of-enum
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/of-enum
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/of-enum -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;X-BlackArch-Scanner;X-BlackArch-Recon;