[Desktop Entry]
Name=eh
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/eh
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/eh -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Misc;