[Desktop Entry]
Name=peres
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/peres
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/peres' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Forensic;X-BlackArch-Reversing;