[Desktop Entry]
Name=MFTINDX.py
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/MFTINDX.py
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/MFTINDX.py -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Forensic;
