[Desktop Entry]
Name=arm-linux-androideabi-c++
Icon=utilities-terminal
Comment=
TryExec=/opt/android-ndk/toolchains/arm-linux-androideabi-4.6/prebuilt/linux-x86_64/bin/arm-linux-androideabi-c++
Exec=sh -c '/usr/local/bin/appHelper.sh /opt/android-ndk/toolchains/arm-linux-androideabi-4.6/prebuilt/linux-x86_64/bin/arm-linux-androideabi-c++ --help' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Mobile;
