[Desktop Entry]
Name=airoscwordlist
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/airoscwordlist
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/airoscwordlist' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Wireless;