[Desktop Entry]
Name=zbdsniff
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/zbdsniff
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/zbdsniff' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Exploitation;X-BlackArch-Wireless;