[Desktop Entry]
Name=ubertooth-scan
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/ubertooth-scan
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/ubertooth-scan -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Bluetooth;