[Desktop Entry]
Name=fusil-zzuf
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/fusil-zzuf
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/fusil-zzuf' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Fuzzer;