[Desktop Entry]
Name=metoscan
Icon=utilities-terminal
Comment=Tool for scanning the HTTP methods supported by a webserver. It works by testing a URL and checking the responses for the different requests.
TryExec=/usr/bin/metoscan
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/metoscan' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Webapp;