[Desktop Entry]
Name=nm
Icon=utilities-terminal
Comment=
TryExec=/opt/android-ndk/toolchains/x86-4.6/prebuilt/linux-x86_64/i686-linux-android/bin/nm
Exec=sh -c '/usr/local/bin/appHelper.sh /opt/android-ndk/toolchains/x86-4.6/prebuilt/linux-x86_64/i686-linux-android/bin/nm -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Mobile;