[Desktop Entry]
Name=rfidiot-eeprom
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/rfidiot-eeprom
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/rfidiot-eeprom -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Wireless;