[Desktop Entry]
Name=irpas-netenum
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/irpas-netenum
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/irpas-netenum' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Exploitation;