[Desktop Entry]
Name=spike-msrpcfuzz-udp
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/spike-msrpcfuzz-udp
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/spike-msrpcfuzz-udp' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Fuzzer;