[Desktop Entry]
Name=makeder.sh
Icon=utilities-terminal
Comment=
TryExec=/usr/share/ruby1.9/lib/ruby/gems/1.9.1/gems/tlspretense-0.6.2/bin/makeder.sh
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/share/ruby1.9/lib/ruby/gems/1.9.1/gems/tlspretense-0.6.2/bin/makeder.sh' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Crypto;X-BlackArch-Scanner;