[Desktop Entry]
Name=nwrights
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/nwrights
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/nwrights -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;