[Desktop Entry]
Name=bob_server-sse2
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/bob_server-sse2
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/bob_server-sse2 -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Cracker;