[Desktop Entry]
Name=ecfs-handler
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/ecfs-handler
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/ecfs-handler' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Binary;