[Desktop Entry]
Name=rfidiot-fdxbnum
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/rfidiot-fdxbnum
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/rfidiot-fdxbnum -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Wireless;