[Desktop Entry]
Name=PHoss
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/PHoss
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/PHoss -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Cracker;X-BlackArch-Sniffer;