[Desktop Entry]
Name=bunny-trace
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/bunny-trace
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/bunny-trace' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Fuzzer;