[Desktop Entry]
Name=rfidiot-copytag
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/rfidiot-copytag
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/rfidiot-copytag -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Wireless;