[Desktop Entry]
Name=as
Icon=utilities-terminal
Comment=
TryExec=/opt/android-ndk/toolchains/arm-linux-androideabi-4.8/prebuilt/linux-x86_64/arm-linux-androideabi/bin/as
Exec=sh -c '/usr/local/bin/appHelper.sh /opt/android-ndk/toolchains/arm-linux-androideabi-4.8/prebuilt/linux-x86_64/arm-linux-androideabi/bin/as --help' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Mobile;