[Desktop Entry]
Name=bittwiste
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/bittwiste
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/bittwiste -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Sniffer;X-BlackArch-Networking;