[Desktop Entry]
Name=dnmap_server
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/dnmap_server
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/dnmap_server -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;