[Desktop Entry]
Name=chiron-proxy
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/chiron-proxy
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/chiron-proxy' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;X-BlackArch-Networking;X-BlackArch-Exploitation;X-BlackArch-Proxy;