[Desktop Entry]
Name=httpforge
Icon=utilities-terminal
Comment=A set of shell tools that let you manipulate, send, receive, and analyze HTTP messages. These tools can be used to test, discover, and assert the security of Web servers, apps, and sites. An accompanying Python library is available for extensions.
TryExec=/usr/bin/httpforge
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/httpforge -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Webapp;X-BlackArch-Scanner;X-BlackArch-Fuzzer;X-BlackArch-Recon;