[Desktop Entry]
Name=addr6
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/addr6
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/addr6' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;