[Desktop Entry]
Name=rafilteraddr
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/rafilteraddr
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/rafilteraddr -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;X-BlackArch-Defensive;X-BlackArch-Sniffer;
