[Desktop Entry]
Name=prads2snort
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/prads2snort
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/prads2snort -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;X-BlackArch-Networking;
