[Desktop Entry]
Name=affstats
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/affstats
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/affstats' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Forensic;