[Desktop Entry]
Name=darkjumper.py
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/darkjumper.py
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/darkjumper.py -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Webapp;