[Desktop Entry]
Name=wirouterkeyrec
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/wirouterkeyrec
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/wirouterkeyrec' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Wireless;X-BlackArch-Cracker;