[Desktop Entry]
Name=fusil-ogg123
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/fusil-ogg123
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/fusil-ogg123' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Fuzzer;