[Desktop Entry]
Name=rfidiot-readlfx
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/rfidiot-readlfx
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/rfidiot-readlfx -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Wireless;