[Desktop Entry]
Name=viper-cli
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/viper-cli
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/viper-cli -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Disassembler;X-BlackArch-Binary;X-BlackArch-Malware;