[Desktop Entry]
Name=OCS
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/OCS
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/OCS' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Scanner;X-BlackArch-Cracker;