[Desktop Entry]
Name=ipmi-oem
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/ipmi-oem
Exec=sh -c '/usr/local/bin/appHelper.sh /usr/bin/ipmi-oem --help' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Networking;X-BlackArch-Misc;
