[Desktop Entry]
Name=doozestop
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/doozestop
Exec=sh -c '/usr/local/bin/appHelper.sh fakeroot /usr/bin/doozestop -h' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Cracker;
