[Desktop Entry]
Name=intersect-create
Icon=utilities-terminal
Comment=
TryExec=/usr/bin/intersect-create
Exec=sh -c '/usr/local/bin/appHelper.sh sudo /usr/bin/intersect-create' $SHELL
StartupNotify=true
Terminal=true
Type=Application
Categories=X-BlackArch-Automation;
